.about
{
    text-align: center ;
    color: white;
    
    font-family: 'Times New Roman', Times, serif;
    margin: 150px auto 5px;
    height: 65vh;
    
}
.about >p
{
    
    font-weight: bold;
    
    font-size: 70px;
}
.about >div
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;

}

/* service section  */

 .service-heading
{
    margin: 60px auto;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.service-section
{
    height:90vh;
    width: 95%;
    margin: 30px auto;
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-section .sub-service
{
 
    height: 300px;
    margin: 5px 20px;
    width: 300px;
    text-align: center;
    padding: 4px;

}
.service-section .sub-service img
{
    width: 80px;
}